* {
    box-sizing: border-box;
}

.root {
    background-color: #FB6B6B;
    border: 1px solid #DBDBDB;
}

/*Home Page*/

.home-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.home-page img {
    width: 136px;
    height: 161px; 
    margin: 148px 0 13px 0;
}

.home-page h1 {
    font-family: 'Righteous', cursive;
    letter-spacing: -0.012em;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.home-page div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page button {
    background-color: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 246px;
    height: 54px;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #D70900;
}

/*Deck Page*/

.deck-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deck-page header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    z-index: 1;
    background-color: #FB6B6B;
}

.deck-page header img {
    width: 52px;
    height: 60px;
}

.deck-page header h1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-left: 8px;
}

.deck-page section {
    margin: 130px 0 90px 0;
    z-index: 0;
    overflow-y: scroll;
}

.deck-page footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 70px;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Card*/

.cardName {
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0 15px 0 15px;
    font-family: 'Recursive';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.cardName ion-icon {
    --ionicon-stroke-width: 50px;
    font-size: 30px;
}

.cardQuestion {
    display: flex;
    align-items:flex-start;
    background-color: #FFFFD4;
    width: 300px;
    height: 131px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 14px;
    padding: 10px;
}

.cardQuestion p {
    margin-top: 10px;
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    width: 100%;
}

.cardQuestion img {
    position: relative;
    top: 90px;
    right: 5px;
    width: 30px;
    height: 20px;
}

.cardAnswer {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: #FFFFD4;
    width: 300px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 15px;
    position: relative;
}

.cardAnswer p {
    margin-bottom: 70px;
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #333333;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: absolute;
    right: 0px;
    bottom: 10px;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Recursive', sans-serif;
}

.buttons button {
    width: 85.17px;
    height: 37.17px;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
}

.not {
    background-color: #FF3030;
}

.almost {
    background-color: #FF922E;
}

.right {
    background-color: #2FBE34;
}

.red ion-icon{
    background-color: #FF3030;
}

.red p {
    text-decoration: line-through #FF3030;
}

.orange ion-icon{
    background-color: #FF922E;
}

.orange p {
    text-decoration: line-through #FF922E;
}

.green ion-icon{
    background-color: #2FBE34;
}

.green p {
    text-decoration: line-through #2FBE34;
}
